nav {
    background-color: #5f282b;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    
  }
  
  .logo img {
    height: 35px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links li {
    margin-right: 0px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff9f9;
    padding: 15px;
  }
  
  .nav-links a:hover {
    color: #f44336;
  }
  .website-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: -1020px;
    color: #fff9f9;
  }